html, body {
    height: 100%;
    width: 1200px;
    margin: 20px 100px;
    padding: 0;
}

.kitten {
    float: left;
    width: 350px;
    padding: 10px;
    margin: 10px;
}

.container {
    display: flex;
    padding: 10px 250px;
}

.modal {
    padding: 50px 20px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 250px;
    top: 20px;
    width: 800px;
    height: 800px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,1);
}

#modal-header {
    padding: 10px;
    margin: 0;
    top: 0;
    float: right;
}

#modal-content{
    top: 30px;
    width: 100%;
}

.close {
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

#close-button {
    position: absolute;
    float: left;
    bottom: 0;
}

.sort-buttons .button {
    float: left;
}
 #modal-image{
     float: left;
 }
#modal-map {
    float: right;
    top:0;
    height: 200px;
    width: 500px;
    border: solid;
}




